---
title: [DATA EXPUNGED]
---
<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>
      body {
        font-family: sans-serif;
      }
      pre {
        font-family: monospace;
        background-color: #f3f3f3;
      }
      code {
        font-size: 0.9rem;
      }
      span.revealed {
        color: blue;
      }
    </style>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>