---
layout: layout.njk
---

<h1>Cloudflare PagesとCloudflare Workersで{% expunged %}された{% expunged %}を作る</h1>

<p>みなさん{% expunged %}。みなさんは、許可した人にだけ{% expunged %}けどそれ以外の人にも{% expunged %}を{% expunged %}して{% expunged %}たいと思ったことがあるのではないでしょうか。</p>

<p>この記事では、そのような機構をCloudflareで実現してみたのでご紹介します。{% expunged %}以外は全部コードが公開されており、皆さんも自分でこのような{% expunged %}を作ってCloudflareにデプロイすることができます。</p>